<div class="sidebar">
    
    <div> <a href="" ng-click="femdangoShow()">About Femdango</a></div>
    <div><a href="" ng-click="bechdelShow()">About the badges</a></div>
    <div><a href="" ng-click="resourcesShow()">Additional resources</a></div>
    <div><a href="" ng-click="contactShow()">Contact Us</a></div>
    

</div>
    
<div class="pageContainer">
    
 <div ng-show="femdango">
     <h1>about femdango</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed turpis neque, dictum in commodo id, ultrices sit amet urna. Aenean tincidunt id urna ornare egestas. Proin et sodales mi. Fusce dapibus iaculis nisi id imperdiet. Donec rutrum nisi a nulla gravida porta. In sed accumsan augue. Suspendisse sodales posuere pellentesque. Integer non tellus vehicula nisi euismod ullamcorper auctor vel augue. Cras ut convallis lectus. Suspendisse at eros condimentum, lobortis nulla ac, porta felis. Quisque tempus mi eu magna vulputate ullamcorper. Cras rhoncus mauris a diam dictum rutrum. Suspendisse eget velit ac urna mollis blandit. Duis suscipit eu velit ac ornare. Nullam id rhoncus felis. Suspendisse vel eros leo.</p>
</div>
<div ng-show="bechdel"></a>    
 <h1>about the badges</h1>
    <div class="had">
        <div class="badgebox">
            <img class="badge" src="images/standing75.png">
            <label>Bechdel Test</label>
            <p>orem ipsum dolor sit amet, consectetur adipiscing elit. Sed turpis neque, dictum in commodo id, ultrices sit amet urna. Aenean tincidunt id urna ornare egestas. Proin et sodales mi. Fusce dapibus iaculis nisi id imperdiet. Donec rutrum nisi a nulla gravida porta. In sed accumsan augue. Suspendisse sodales posuere pellentesque. Integer non tellus vehicula n</p>
        </div>

        <div class="badgebox">
            <img class="badge" src="images/person242.png">
            <label>Mako-Mori</label>
            <p>orem ipsum dolor sit amet, consectetur adipiscing elit. Sed turpis neque, dictum in commodo id, ultrices sit amet urna. Aenean tincidunt id urna ornare egestas. Proin et sodales mi. Fusce dapibus iaculis nisi id imperdiet. Donec rutrum nisi a nulla gravida porta. In sed accumsan augue. Suspendisse sodales posuere pellentesque. Integer non tellus vehicula n</p>
        </div>
        <div class="badgebox">
            <img class="badge" src="images/loudspeaker16.png">
            <label>Women in charge</label>
            <p>orem ipsum dolor sit amet, consectetur adipiscing elit. Sed turpis neque, dictum in commodo id, ultrices sit amet urna. Aenean tincidunt id urna ornare egestas. Proin et sodales mi. Fusce dapibus iaculis nisi id imperdiet. Donec rutrum nisi a nulla gravida porta. In sed accumsan augue. Suspendisse sodales posuere pellentesque. Integer non tellus vehicula n</p>
        </div>
        <div class="badgebox">
            <img class="badge" src="images/female102.svg">
            <label>Gender Ratio</label>
            <p>orem ipsum dolor sit amet, consectetur adipiscing elit. Sed turpis neque, dictum in commodo id, ultrices sit amet urna. Aenean tincidunt id urna ornare egestas. Proin et sodales mi. Fusce dapibus iaculis nisi id imperdiet. Donec rutrum nisi a nulla gravida porta. In sed accumsan augue. Suspendisse sodales posuere pellentesque. Integer non tellus vehicula n</p>
        </div>  
        <div class="badgebox">
            <img class="badge" src="images/two15.png">
            <label>LGBT Friendly</label>
            <p>orem ipsum dolor sit amet, consectetur adipiscing elit. Sed turpis neque, dictum in commodo id, ultrices sit amet urna. Aenean tincidunt id urna ornare egestas. Proin et sodales mi. Fusce dapibus iaculis nisi id imperdiet. Donec rutrum nisi a nulla gravida porta. In sed accumsan augue. Suspendisse sodales posuere pellentesque. Integer non tellus vehicula n</p>
        </div> 
        <div class="badgebox">
            <img class="badge" src="images/world91.png">
            <label>Diversity</label>
            <p>orem ipsum dolor sit amet, consectetur adipiscing elit. Sed turpis neque, dictum in commodo id, ultrices sit amet urna. Aenean tincidunt id urna ornare egestas. Proin et sodales mi. Fusce dapibus iaculis nisi id imperdiet. Donec rutrum nisi a nulla gravida porta. In sed accumsan augue. Suspendisse sodales posuere pellentesque. Integer non tellus vehicula n</p>
        </div>
        <div class="badgebox">
            <img class="badge" src="images/wheelchair10.png">
            <label>Positive Disabilities</label>
            <p>orem ipsum dolor sit amet, consectetur adipiscing elit. Sed turpis neque, dictum in commodo id, ultrices sit amet urna. Aenean tincidunt id urna ornare egestas. Proin et sodales mi. Fusce dapibus iaculis nisi id imperdiet. Donec rutrum nisi a nulla gravida porta. In sed accumsan augue. Suspendisse sodales posuere pellentesque. Integer non tellus vehicula n</p>
        </div>
   
</div>
</div>
<div ng-show="resources"></a>
 <h1>additional resources</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed turpis neque, dictum in commodo id, ultrices sit amet urna. Aenean tincidunt id urna ornare egestas. Proin et sodales mi. Fusce dapibus iaculis nisi id imperdiet. Donec rutrum nisi a nulla gravida porta. In sed accumsan augue. Suspendisse sodales posuere pellentesque. Integer non tellus vehicula nisi euismod ullamcorper auctor vel augue. Cras ut convallis lectus. Suspendisse at eros condimentum, lobortis nulla ac, porta felis. Quisque tempus mi eu magna vulputate ullamcorper. Cras rhoncus mauris a diam dictum rutrum. Suspendisse eget velit ac urna mollis blandit. Duis suscipit eu velit ac ornare. Nullam id rhoncus felis. Suspendisse vel eros leo.</p>
</div>
<div ng-show="contact"></a> 
    <h1>contact us</h1>
    <p>Suspendisse at eros condimentum, lobortis nulla ac, porta felis. Quisque tempus mi eu magna vulputate ullamcorper. Cras rhoncus mauris a diam dictum rutrum. Suspendisse eget velit ac urna mollis blandit. Duis suscipit eu velit ac ornare. Nullam id rhoncus felis. Suspendisse vel eros leo.</p>
    <form class="containerWidget">
    <input type="email" ng-model="emailAddress" placeholder="What's your email?">
    <textarea type="text" ng-model="emailText" placeholder="Tell me everything."></textarea>
    <button ng-click="sendEmail(emailAddress, emailText)" onClick="this.form.reset()">send</button>
    </form>


</div>

    
    
</div>
