<div class="wrap">
    <h1>Which movies are worthy of femdangBadges?</h1>
<!--
    <div class="wrapWidget">
        <div class="badgebox">
            <img class="badge-big" src="images/standing75.png">
            <label class="badge-big-info">Bechdel Test</label>
        </div>
        <div class="badgebox">
            <img class="badge-big" src="images/person242.png">
            <label class="badge-big-info">Mako-Mori</label>
        </div>
        <div class="badgebox">
            <img class="badge-big" src="images/loudspeaker16.png">
            <label class="badge-big-info">Women in Charge</label>
        </div>
        <div class="badgebox">
            <img class="badge-big" src="images/female102.svg">
            <label class="badge-big-info">Gender Ratio</label>
        </div>  
        <div class="badgebox">
            <img class="badge-big" src="images/two15.png">
            <label class="badge-big-info">LGBT Friendly</label>
        </div> 
        <div class="badgebox">
            <img class="badge-big" src="images/world91.png">
            <label class="badge-big-info">Diversity</label>
        </div>
        <div class="badgebox">
            <img class="badge-big" src="images/wheelchair10.png">
            <label class="badge-big-info">Positive Disabilities</label>
        </div>
   
    </div>
-->
   
    <form ng-submit="searchMovies()"><input class="movieTitleSearch" type="search" ng-model="searchMovieTitle" placeholder="Search for movies by title!"></form>
    <slick-search ng-if="!reset" data="searchResults"></slick-search>
     <!--This slick-search will take in data="badge.id and filter popular movies by highest badgesClickedPercent. -->
    <h3>NOW PLAYING IN THEATERS</h3>
    <slick-search ng-if="!reset" data="inTheaters"></slick-search>
    <h3>COMING SOON</h3>
    <slick-search ng-if="!reset" data="comingSoon"></slick-search>
    <h3>MOST POPULAR</h3>
    <slick-search ng-if="!reset" data="popularMovies"></slick-search>

    
   
    
</div>