<div class="wrap">
    <h1>How femdangGood are these movies?</h1>
    <h3>Search for your favorite movies</h3>
    <form ng-submit="searchMovies()"><input type="search" ng-model="searchMovieTitle" placeholder="Search by title"></form>
    <slick-search ng-if="!reset" data="searchResults"></slick-search>
    
    <h3>NOW PLAYING IN THEATERS</h3>
    <slick-search ng-if="!reset" data="inTheaters"></slick-search>
    <h3>COMING SOON</h3>
    <slick-search ng-if="!reset" data="comingSoon"></slick-search>
    

    
    <h3>FEMDANG!<a href="#/browse/FemDang">click for more films that go above and beyond the bechdel test</a></h3>
<!--    <slick-search></slick-search>-->
    <h3>BECHDEL FAIL <a href="#/browse/FemFail">click for more films that surprisingly FAIL the bechdel test</a></h3>
    <!--    <slick-search></slick-search>-->
    <h3>LGBTQ ALLY <a href="#/browse/LGBTQ">click for more films that have LGBTQ themes, characters, or actors</a></h3>
<!--    <slick-search></slick-search>-->
    <h3>PEOPLE OF COLOR <a href="#/browse/POC">click for more films that feature actors, directors, or characters of color</a></h3>
    <!--    <slick-search></slick-search>-->
    
    
    
</div>