
<div class="wrap"><h1>Popular movies on our radar:</h1>
    
<slick-search ng-if="!reset" data="popularMovies"></slick-search>

    <div class="wrapWidget">
        <div class="miniWidget">
             <div class="comments">
        <h2>RECENT REVIEWS</h2>
        
   <div ng-repeat="comment in comments | orderBy: 'createdAt': reverse | limitTo: 5"  ng-class-odd="'odd'" ng-class-even="'even'">
          <h2><a href="#/browse/" + {{comment.movieId}}>{{comment.movieTitle}}</a> </h2>
        <div class="earned-badges">
            <div class="badgebox" ng-show={{comment.badges.bechdel}}>
                 <img class="badge" src="images/standing75.png">
            </div>
            <div class="badgebox" ng-show={{comment.badges.mako}}>
                <img class="badge" src="images/person242.png">
            </div>
            <div class="badgebox" ng-show={{comment.badges.executive}}>
                <img class="badge" src="images/loudspeaker16.png">
            </div>
            <div class="badgebox" ng-show={{comment.badges.ratio}}>
                <img class="badge" src="images/female102.svg">
            </div>  
            <div class="badgebox" ng-show={{comment.badges.lgbt}}>
                <img class="badge" src="images/two15.png">
            </div> 
            <div class="badgebox" ng-show={{comment.badges.diversity}}>
                <img class="badge" src="images/world91.png">
            </div>
            <div class="badgebox" ng-show={{comment.badges.disabilities}}>
                <img class="badge" src="images/wheelchair10.png">
            </div>

        </div>
            <p>{{comment.text}}</p>
      
            <span> by {{comment.user}} @</span>
            <span>{{comment.createdAt}}</span>
           
        </div>     
 
    </div>
        </div>
     <div class="miniWidget">
        <h2>What do the badges mean?</h2>
    <div class="had">
            <h3>FEMINIST BADGES</h3>
            <div class="badgebox">
                <input type="checkbox" id="bechdel-badge" name="bechdel">
                 <img class="badge" src="images/standing75.png">
                <label for="bechdel-badge">Bechdel Test</label>
                <div class="badge-info">Do two named, female characters talk to each other about something other than a man?</div>
            </div>

            <div class="badgebox">
                <input type="checkbox" id="mako-mori">
                <img class="badge" src="images/person242.png">
                <label for="mako-mori">Mako-Mori</label>
                <div class="badge-info">Is there at least one lead female character who has her own narrative arc that is not about supporting a man’s story?
                </div>
            </div>
            <div class="badgebox">
                <input type="checkbox" id="women-in-charge">
                <img class="badge" src="images/loudspeaker16.png">                
                <label for="women-in-charge">Women in charge</label>
                <div class="badge-info">Does the executive team (writers, directors, producers, etc) include women?
                </div>

            </div>  

            <div class="badgebox">
                <input type="checkbox" id="gender-ratio">
                <img class="badge" src="images/female102.svg">
                <label for="gender-ratio">Gender Ratio</label>
                <div class="badge-info">Does the main cast have a balanced ratio of actors and actresses?
                </div>
            </div><br>
            
            <h3>RELATED BADGES</h3>
    <div class="badgebox">
        <input type="checkbox" id="lgbt">
        <img class="badge" src="images/two15.png">
        <label for="lgbt">LGBTQ</label>
        <div class="badge-info">Is this movie LGBTQ friendly?
        </div>
    </div>    

    <div class="badgebox">
        <input type="checkbox" id="diversity">
        <img class="badge" src="images/world91.png">
        <label for="diversity">Diversity</label>
        <div class="badge-info" id="diversity">Does this movie include accurate and/or positive representations of diverse cultures or countries?
        </div>
    </div>    
    <div class="badgebox">
        <input type="checkbox" id="disabilities">
        <img class="badge" src="images/wheelchair10.png">
        <label for="disabilities">Positive Disabilities</label>
        <div class="badge-info"id="disabilities">Does this movie include actors or characters with disabilities in a positive way?
        </div>
    </div>        
</div>
         <h2>Aren't those fun to click? Assign some badges and review some movies!<div ng-hide="loggedin"><br><a href="#/login">Sign in</a> to get started!</div></h2>
        </div>
    </div>
</div>    