<div class="containerWidget">
<h1>join the party.</h1>
<p>sign in or sign up to review femMovies and track your favorites.</p>
<input class="submitInput" type="email" ng-model="user.email" placeholder="email">
<input class="submitInput" type="password" ng-model="user.password" placeholder="password">
<div class="submitButtons"> 
    <button ng-click="login()">sign in</button>
    <button ng-click="register()">sign up</button>
    
</div>
    <p>forgot your <a href ="#/passwordReset">password</a>?</p>
    <button class="facebookButton" ng-click="facebook()">sign in with facebook</button>
</div>