
<div class="movieData">
    <div class="left">
        <img class="poster" src="{{movieData.posterUrl}}" >
        <div class="had" id="user-lists">
            <div class="badgebox" ng-show="loggedin">
                <input type="checkbox" id="favorite" value="movieId" ng-model="user.favorite" ng-click="favoriteListManage()">
                 <img class="badge" src="images/heart8.png">
                <label for="favorite">Add to favorites</label>
            </div>
            <div class="badgebox" ng-show="loggedin">
                <input type="checkbox" ng-click="wishListManage()" id="wish" value="movieId" ng-model="user.wish">
                 <img class="badge" src="images/food48.png">
                <label for="wish">Add to wishlist</label>
            </div>
        </div>
        <form ng-show="loggedin" name="newComment">
            <h2>REVIEW THIS MOVIE AND ASSIGN SOME BADGES!</h2>
            <div class="had">
                <h4>Feminist badges</h4>
                <div class="badgebox">
                    <input type="checkbox"  ng-model="badges.bechdel" id="bechdel" >
                     <img class="badge" src="images/standing75.png">
                    <label for="bechdel">Bechdel Test</label>
<!--
                    <div class="badge-info">Do two named women with talk to each other about something other than a man?
                    </div>
-->
                </div>

                <div class="badgebox">
                    <input type="checkbox"  ng-model="badges.mako" id="mako" >
                    <img class="badge" src="images/person242.png">
                    <label for="mako">Mako-Mori</label>
<!--
                    <div class="badge-info">Is there at least one lead female character who has her own narrative arc that doesn't revolve around a man's story?
                    </div>
-->
                </div>
                <div class="badgebox">
                    <input type="checkbox"  ng-model="badges.executive" id="executive" >
                    <img class="badge" src="images/loudspeaker16.png">                
                    <label for="executive">Women in executive roles</label>
<!--
                    <div class="badge-info">Does the executive team (writers, directors, producers, exectutive producers, cinematographers, and editors) include at least one woman?
                    </div>
-->

                </div>  
                <div class="badgebox">
                    <input type="checkbox"  ng-model="badges.ratio" id="ratio" >
                    <img class="badge" src="images/female102.svg">
                    <label for="ratio">Gender Ratio</label>
<!--
                    <div class="badge-info">Does the main cast have at least a 1:3 ratio of lead actresses to actors?
                    </div>
-->
                </div><br>
            
                <h4>Related badges</h4>
                <div class="badgebox">
                    <input type="checkbox"  ng-model="badges.lgbt" id="lgbt" >
                    <img class="badge" src="images/two15.png">
                    <label for="lgbt">LGBTQ</label>
<!--
                    <div class="badge-info">Does this movie feature atleast one LGBT character or refer positively/productively to LGBT issues?
                    </div>
-->
                </div>    
                <div class="badgebox">
                    <input type="checkbox"  ng-model="badges.diversity" id="diversity" >
                    <img class="badge" src="images/world91.png">
                    <label for="diversity">Diversity</label>
<!--
                    <div class="badge-info">Does this movie include at least one named character who acurately and productively represents a diverse ethnicity, culture, or country?
                    </div>
-->
                </div>    
                <div class="badgebox">
                    <input type="checkbox"  ng-model="badges.disabilities" id="disabilities" >
                    <img class="badge" src="images/wheelchair10.png">
                    <label for="disabilities">Positive Disabilities</label>
<!--
                    <div class="badge-info">Does this movie include at least one actor or character with disabilities in a positive and productive way?
                    </div>
-->
                </div>        
            </div>
            <textarea ng-model="userMovieReview" rows="4" cols="25" placeholder="How femDang-good was this movie?"></textarea>
            <input type="text" ng-model="name" placeholder="What's your name?"/><br><br>
        
            <button id="commentButton" ng-disabled="newComment.$invalid" ng-click="createComment()" onClick="this.form.reset()">Submit</button> 
        </form>
    </div> 
    <div class="movieInfo">
     
    <h1>{{movieData.title}}</h1>
    <h3>{{movieData.year}} | {{movieData.rated}}| {{movieData.runtime}}| {{movieData.genre}}</h3>
    <h2>Director:</h2> <h3> {{movieData.director}}</h3><h2>Lead Actors:</h2> <h3> {{movieData.actors}}</h3>
    <h2>Plot Summary:</h2>
    <p>{{movieData.plot}}</p>
    <h2>Ratings</h2>
    <h3>Bechdel Test (out of 3): {{movieData.bechdelRating}}</h3>
    <h3>Rotten Tomato Meter: 
        critics say {{movieData.tomatoMeter}}%; audience says {{movieData.tomatoMeterUser}}%</h3>
    <h2>Tomato Consensus:</h2><p>{{movieData.tomatoConsensus}}</p>
    <h3>IMDb Rating: {{movieData.imdbRating}}</h3>
    <h3>Awards: {{movieData.awards}}</h3>
       
<!--
    
<iframe width="504" height="283.5" src="https://www.youtube.com/embed/{{trailers.youtube[0]}}" frameborder="0" allowfullscreen></iframe>
<iframe width="504" height="283.5" src="https://www.youtube.com/embed/{{trailers.youtube[1]}}" frameborder="0" allowfullscreen></iframe>
<iframe width="504" height="283.5" src="https://www.youtube.com/embed/{{trailers.youtube[2]}}" frameborder="0" allowfullscreen></iframe>
-->
        

    <div class="comments">
        <h2>RECENT REVIEWS</h2>
        {{comment.movieId}}
   <div ng-repeat="comment in comments | orderBy: '-createdAt': reverse | limitTo: 10" ng-show="{{comment.movieId}} == currentMovieId "  ng-class-odd="'odd'" ng-class-even="'even'">
            
        <div class="earned-badges">
            <div class="badgebox" ng-show={{comment.badges.bechdel}}>
                 <img class="badge" src="images/standing75.png">
            </div>
            <div class="badgebox" ng-show={{comment.badges.mako}}>
                <img class="badge" src="images/person242.png">
            </div>
            <div class="badgebox" ng-show={{comment.badges.executive}}>
                <img class="badge" src="images/loudspeaker16.png">
            </div>
            <div class="badgebox" ng-show={{comment.badges.ratio}}>
                <img class="badge" src="images/female102.svg">
            </div>  
            <div class="badgebox" ng-show={{comment.badges.lgbt}}>
                <img class="badge" src="images/two15.png">
            </div> 
            <div class="badgebox" ng-show={{comment.badges.diversity}}>
                <img class="badge" src="images/world91.png">
            </div>
            <div class="badgebox" ng-show={{comment.badges.disabilities}}>
                <img class="badge" src="images/wheelchair10.png">
            </div>

        </div>
            <p>{{comment.text}}</p>
      
            <span> by {{comment.user}} @</span>
            <span>{{comment.createdAt}}</span>
           
        </div>     
        
        
        
    </div>
