
<div class="movieData">
    <div class="left">
        <img class="poster" src="{{movieData.posterUrl}}" >
         <form ng-show="loggedin" name="newComment">
             <h2>What did you think of this movie?</h2>
        <div class="had">
            <div class="badgebox">
                <input type="checkbox" id="favorite" name="favorite-list">
                 <img class="badge" src="images/black-heart-outlines-slant-black-heart-outline.svg">
                <label for="favorite">Add to favorites</label>
                <div class="badge-info">Love this movie? Add to your favorites!</div>
            </div>
            <div class="badgebox">
                <input type="checkbox" id="interested" name="wish-list">
                 <img class="badge" src="images/make-a-wish.jpg">
                <label for="interested">Add to wishlist</label>
                <div class="badge-info">Interested? Keep track so you can watch it later!</div>
            </div>
            <h4>Feminist badges</h4>
            <div class="badgebox">
                <input type="checkbox" id="bechdel-badge" name="bechdel">
                 <img class="badge" src="images/Blahblahblah_blah.gif">
                <label for="bechdel-badge">Bechdel Test</label>
                <div class="badge-info">Do two named, female characters talk to each other about something other than a man?</div>
            </div>
            <div class="badgebox">
                <input type="checkbox" id="strong-woman">
                <img class="badge" src="images/gym42.png">
                <label for="strong-woman">Strong Woman</label>
                <div class="badge-info">Is there at least one really strong, powerful female character?
                </div>
            </div>

            <div class="badgebox">
                <input type="checkbox" id="mako-mori">
                <img class="badge" src="images/girlbrain.jpg">
                <label for="mako-mori">Mako-Mori</label>
                <div class="badge-info">Is there at least one lead female character who has her own narrative arc that is not about supporting a man’s story?
                </div>
            </div>
            <div class="badgebox">
                <input type="checkbox" id="women-in-charge">
                <img class="badge" src="images/corporate_woman_6813944.jpg">                
                <label for="women-in-charge">Women in charge</label>
                <div class="badge-info">Does the executive team (writers, directors, producers, etc) include women?
                </div>

            </div>  
            <div class="badgebox">
                <input type="checkbox" id="sexy-lamp">
                <img class="badge" src="images/leglamp.jpeg">
                <label for="sexy-lamp">Not a sexy floor lamp</label>
                <div class="badge-info">Are the lead famale characters more than "sexy floor lamp" props for the male characters?
                </div>
            </div>
            <div class="badgebox">
                <input type="checkbox" id="gender-ratio">
                <img class="badge" src="images/Random8-150ppp.jpg">
                <label for="gender-ratio">Gender Ratio</label>
                <div class="badge-info">Does the main cast have a balanced ratio of actors and actresses?
                </div>
            </div><br>
            
            <h4>Related badges</h4>
    <div class="badgebox">
        <input type="checkbox" id="lgbt">
        <img class="badge" src="images/rainbow.png">
        <label for="lgbt">LGBTQ</label>
        <div class="badge-info">Is this movie LGBTQ friendly?
        </div>
    </div>    
    <div class="badgebox">
        <input type="checkbox" id="poc">
        <img class="badge" src="images/stock-vector-vector-set-of-different-african-american-woman-app-icons-in-trendy-flat-style-259751516.jpg">
        <label for="poc">People of color</label>
        <div class="badge-info">Does this movie include actors of color?
        </div>
        
    </div>
    <div class="badgebox">
        <input type="checkbox" id="diversity">
        <img class="badge" src="images/world91.png">
        <label for="diversity">Diversity</label>
        <div class="badge-info" id="diversity">Does this movie include accurate and/or positive representations of diverse cultures or countries?
        </div>
    </div>    
    <div class="badgebox">
        <input type="checkbox" id="disabilities">
        <img class="badge" src="images/35957697-Disabled-sports-design-concept-with-handicapped-people-playing-football-fencing-cycling-icons-set-is-Stock-Vector.jpg">
        <label for="disabilities">Positive Disabilities</label>
        <div class="badge-info"id="disabilities">Does this movie include actors or characters with disabilities in a positive way?
        </div>
    </div>        
</div>
        <textarea ng-model="userMovieReview" rows="4" cols="25" placeholder="How femDang-good was this movie?" ></textarea><input type="text" ng-model="name" placeholder="What's your name?"/><br><br>
        
<button ng-disabled="newComment.$invalid" ng-click="createComment(username, userMovieReview)">Submit</button> </form>
        
    </div> 
    <div class="movieInfo">
     
    <h1>{{movieData.title}}</h1>
    <h3>{{movieData.year}} | {{movieData.rated}}| {{movieData.runtime}}| {{movieData.genre}}</h3>
    <h2>Director:</h2> <h3> {{movieData.director}}</h3><h2>Lead Actors:</h2> <h3> {{movieData.actors}}</h3>
    <h2>Plot Summary:</h2>
    <p>{{movieData.plot}}</p>
    <h2>Ratings</h2>
    <h3>Bechdel Test (out of 3): {{movieData.bechdelRating}}</h3>
    <h3>Rotten Tomato Meter: 
        critics say {{movieData.tomatoMeter}}%; audience says {{movieData.tomatoMeterUser}}%</h3>
    <h2>Tomato Consensus:</h2><p>{{movieData.tomatoConsensus}}</p>
    <h3>IMDb Rating: {{movieData.imdbRating}}</h3>
    <h3>Awards: {{movieData.awards}}</h3>
       
<!--
    
<iframe width="504" height="283.5" src="https://www.youtube.com/embed/{{trailers.youtube[0]}}" frameborder="0" allowfullscreen></iframe>
<iframe width="504" height="283.5" src="https://www.youtube.com/embed/{{trailers.youtube[1]}}" frameborder="0" allowfullscreen></iframe>
<iframe width="504" height="283.5" src="https://www.youtube.com/embed/{{trailers.youtube[2]}}" frameborder="0" allowfullscreen></iframe>
-->
        
<!--Real code
<ul>
        <li ng-repeat="comment in comments">
        </li>
-->
    <div class="comments">
        <h2>RECENT REVIEWS</h2>
        <div class="commentData">
            <div class="commentText">
<!--                <p>{{comment.userMovieReview}}</p><br>-->
<!--                <span>posted on {{comment.postedDate}} by {{comment.name}}</span>-->
<!--                <div class="badge" ng-src="{{comment.earnedBagesArray}}></div><div class="badge"></div>-->
<!--                dummy code:-->
                <p>"I loved this movie and can't wait for a sequel!"<br>
                    <span>posted on August 14, 2015 by Georgie42</span></p>
                <div class="badge"></div><div class="badge"></div>
            </div>
        </div>
        <div class="commentData">
            <div class="commentText">
                <p>"After two miserable sequels, the world had no reason to expect anything good from another Jurassic Park movie...yet, in spite of every ill omen, Jurassic World turns out to be the most enjoyable blockbuster in recent memory."<br>
                    <span>posted on August 29, 2015 by Steve</span></p>
                <div class="badge"></div><div class="badge"></div><div class="badge"></div><div class="badge"></div>
            </div>
        </div>
        <div class="commentData">
            <div class="commentText">
                <p>"It's a fun summer ride, but it won't keep you coming back over and over."<br>
                    <span>posted on August 5, 2015 by Josh Terry</span></p>
                <div class="badge"></div><div class="badge"></div>
            </div>
        </div>

    </div>
