html, body {
	margin: 0 auto;
	width: 100%;
	height: 100%;
/*
	min-width: 300px;
	max-width: 1200px;
*/
    font-family: "Century Gothic";
    background-color: #EEEEEE;
}


nav {
    width: 100%;
    background-color: #FFFFFF;
	position: fixed;
	display: flex;
    justify-content: space-around;
/*
	min-width: 270px;
	max-width: 1200px;
*/
    align-items: baseline;
    z-index: 100;
    box-sizing: border-box;

    
}

.pageTitle {
/*	width: 80%;*/
	text-align: center;
    padding-right: 8%;

}
.logo {
/*    width: 40%;*/
    text-align: center;
    padding-left: 8%;
}


h1 {
    color:crimson;
}
h2 {
    color: crimson;
    font-size: 105%;
}
h3 {
    color: dimgray;
    font-size: 100%;
    font-variant: small-caps;
}
h4 {
    margin-top: 5px;
}

span {
    color:crimson;
    font-size: 50%;
    font-weight:lighter;
    margin: 0%;
    color:dimgray;
    
}



input {
    line-height: 2.5;
    font-family:"Century Gothic";
    font-size: 100%;
    color: black;
    padding: 0 15px;
    box-sizing: border-box;
    border: 1.5px solid #eeeeee;
    
}

input:focus {
    border: solid 1px crimson;
    outline: 0;
}
  
a {
	text-decoration: none; 
    cursor: pointer;
    color:darkgray;
}
a:hover {
    color:crimson;
}



.mainContainer {
    background-color: #EEEEEE;
    padding-top: 10%;
    padding-bottom: 10%;
    min-height: 100%;
	margin: 0 auto 
}
.wrapWidget {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    margin: 0% auto;
    padding: 20px;
}
.miniWidget {
    padding: 0 3%;
    width: 45%;

}

.containerWidget {
    display: flex;
    flex-direction: column;
    width: 35%;
    box-sizing: border-box;
    margin: auto;
    padding: 20px;
}

.submitInput {
    margin-bottom: 10px;
    border: solid .5px;
}

.slick-slider{
    margin-top: 20px;
}

p { 
    color: dimgray;
    font-size: 80%;
    text-align: justify;
}

.submitButtons {
    display: flex;
    justify-content: space-between;
}
button {
    width: 48%;
    line-height: 2.5;
    background-color: crimson;
    color: #ffffff;
    border: 0px;
    border-radius: 2px;
    font-family: "Century Gothic";
    font-size: 100%;   
    
}

button.facebookButton {
    width: 100%;
    line-height: 3;
    background-color: #46629E;
    color: #ffffff;
    border: 0px;
    border-radius: 2px;
    text-align: center;
    font-family: "Century Gothic";
        margin-top: 10px;

}

button:focus {
    background-color: darkgray;
    outline: 0;
    box-sizing: border-box;
}
button:hover {
    opacity: .8;
}

.userSigninEmail {
    text-align: right
}
.sidebar {
    width: 20%;
    float: left;
    margin: 5% 5% 5% 10%;
}

.pageContainer {
    margin-right: 10%;
/*    height: 100%;*/
    width: 50%;
    float: right; 
}

form.containerWidget {
    width: 100%;
}

textarea {
    height: 100%;
    margin: 5% 0 5% 0%;
    padding: 10px;
    font-family: "Century Gothic";
    border: 1.5px solid #eeeeee;
    font-size: 100%;
    color: black;
}


textarea:focus {
    border: solid 1px crimson;
    outline: 0;
}


.gallery {
    width: 70%;
    margin: auto;
    margin-bottom: 5%;
}

img {
    object-fit:scale-down;
    height: 300px;
    width: auto
}
.earned-badges {
    
   
    width: 165px;
    margin-top: 0px;
    display: flex;
    flex-direction: row;

}

.movieImg > .earned-badges{
    opacity: 0;
}
.movieImg:hover .earned-badges{
    opacity: 1;
}


.loading {
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 1px solid #eeeeee;
    opacity: .8; 
    height: 62px; 
    width: 62px; 
    background-image: url("spiffygif_62x62.gif");
    z-index: 10;
    position:absolute;
    margin: 50px 50px;
    
}



.featured {
    width: 100%;
    margin: 0 auto;
    background: white;
    display: inline-block;
    padding: 0 5% 5% 0;
    
}

.wrap {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    
}
.movieData {
    display: flex;
    justify-content: space-around;
    padding: 0px 200px;
    box-sizing: border-box;
    
    
}
.left {
    width: 30%; 
    margin: 5% auto;
   
}
.movieInfo {
    width: 50%;
    margin: 0%
   
}
.movieData > img {
    
    flex-grow: 0;
    width: 500px;
    max-height: 100%;
    height: auto;
    padding: 15%;
    object-fit:contain;
}
.comments {
    display: flex;
    flex-direction: column;
}

.commentData {
   
}
.ratingsAPI {
    
}
.ratings {
    float: right;
    margin: 5px;
    
}
.footer, .push {
	height: 155px; /* .push must be the same height as .footer */
}

footer {
    background-color: darkgray;
    padding: 20px;
    width: 100%;
    height: 155px;
	margin: 0 auto;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}


input[type=checkbox] {
    display: none;
}
input[type=checkbox]:checked+.badge {
    border: 3px solid crimson;
    background-color: crimson;
    border-radius:50%;
    opacity: 1;
    background-position: -2px -1px;
}
input[type=checkbox]:checked+.badge+label {
    color: crimson;
}

.badgebox:hover label.home-badge {
    display:none;
}
.badgebox:hover .badge-info {
    display:block;
}
.badgebox:hover .badge-big-info {
    display: block;
}
.badgebox:hover .badge-big {
    display: none;
}

.badgebox:hover .badge {
    background-color: #EEEEEE;
    
}
.badgebox {
    float:left;
    position:relative;
    clear:both;
}

.badge-info{
    height: 30px;
    width: 100%;
    position:relative;
    display:block;
    margin-top: 6px;
    color: crimson;
    font-size: 13px;
    margin-left: 5px;
    display:none;
    padding:10px 5px 5px 5px;
    z-index: 5;
    
}

.badge-big-info{
    font-size: 13px;
    text-align:center;
    text-transform: uppercase;
    padding: 20px;
    display:none;
    z-index: 5;
    height: 100px;
    width: 100px;
    margin: 2px;
    float: left;
    background-position: -2px -1px;
    border: 2px solid crimson;
    background-color: crimson;
    color:#ffffff;
    border-radius: 50%;
    box-sizing: border-box;

}
.wrapWidget .badge-info {
    margin-top: -15px;
    left: 0px;
}

.badge {
    margin: 2px;
    float: left;
    height: 35px;
    width: 35px;
    background-position: -2px -1px;
    border: 2px solid crimson;
    background-color: #FFFFFF;
    border-radius: 50%;
    z-index: 3;
    padding: 1px;
    box-sizing: border-box;
}
.badge-big {
    height: 100px;
    width: 100px;
    margin: 2px;
    float: left;
    background-position: -2px -1px;
    border: 2px solid crimson;
    background-color: #FFFFFF;
    border-radius: 50%;
    z-index: 3;
}

.movieTitleSearch {
    margin-top: 5%;
    width: 50%;
}
.show {
    margin-left: 30px;
}
.had {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    width: 100%;
    padding:10px;
    float: left;
}
/*
.badges {
    margin: 50px auto;
    width: 50%;
    border: 1px solid black;
    height: 30px;
    padding:10px;
}
*/
.badge-box {
    float: left;
    margin-left:20px;
    width:40%
}

.home-label {
height: 30px;
    width: 100%;
    position:relative;
    display:block;
    margin-top: 6px;}

label {
    height: 30px;
    width: 100%;
    position:relative;
    display:block;
    margin-top: 6px;
}

.odd {
    background-color: #ffffff;
    padding: 5%;
    border-radius: 2px; 
}
.even {
    background-color: #eeeeee;
    padding: 5%;
    border-radius: 2px; 
}